<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rescue.totherescue" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/ToTheRescueStyle" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaseActivity"
            android:label="@string/app_name" />
        <activity android:name=".quiz.QuestionActivity" />
        <activity android:name=".quiz.ResultActivity" />
        <activity android:name=".quiz.QuizStartActivity" />
        <activity
            android:name=".AppInfoActivity"
            android:label="@string/title_activity_app_info" >
        </activity>
        <activity
            android:name=".help.Views.HelpSimpleQuestionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".help.Views.HelpSimpleStepActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".help.Views.HelpStepWithInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".help.Electrocution.ElectrocutionMainActivity"
            android:label="@string/title_activity_electrocution_main" >
        </activity>
        <activity
            android:name=".help.Views.HelpStepWithPhotoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".help.Unconsciousness.UnconsciousnessMainActivity"
            android:label="@string/title_activity_unconsciousness_main" >
        </activity>
    </application>

</manifest>
